/* Ajuste de la cuadrícula principal */
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-template-rows: auto auto; /* Dos filas automáticas */
  gap: 20px; /* Espaciado entre los elementos */
  padding: 20px;
  height: calc(100vh - 80px); /* Altura total, menos header y footer */
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-90deg, #190C30, #2b1353, #2d0377, #390395, #5703e9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Gráfico de Dona */
.donut-chart {
  width: 90%;
  height: 500px;
  margin: 10px auto;
  background-color:#240a4f;
  border-radius: 15px;
}

/* Gráfico de Barras */
.horizontal-bar-chart {
  width: 90%;
  height: 500px;
  background-color:#240a4f;
  border-radius: 20px;
  margin: 10px auto;
}

/* Ventana de QR: nueva sección abajo */
.ventana-section {
  grid-column: span 2; /* Ocupa ambas columnas */
  height: auto; /* Altura auto ajustable */
  background-color: #2E008B;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ventana {
  width: 90%;
  height: 250px;
  margin: 10px auto;
  background-color:#240a4f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  background-color: #10002B;
  color: #E0E0E0;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }

  .ventana-section {
    grid-column: span 1; /* Ocupa solo una columna */
  }
}
  